<!DOCTYPE html>
<html>
<head>
  <title>Heatmap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="assets/maps.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuBuX_AMRAwh8uNwS614-_3xgNqpR9mwc&sensor=false&v=3.exp&sensor=false&libraries=visualization">
    </script>
    <script type="text/javascript" src="assets/maps.js"></script>
</head>
<body>
  <div class="header">
    <img src="/assets/logo.png">
    <header>
      <div class="header-left">
          <ul>
            <li><%= link_to "home", root_path %></li>
            <li>Sales</li>
            <li>Rentals</li>
          </ul>
      </div>
      <div class="header-right">
          <ul>
            <li><%= link_to("login","/login") if session[:user_id].nil? %></li>
            <li><a href="#myModal" data-toggle="modal">Signup</a></li> 
            <li>Contact Us</li>
          </ul>
      </div>
    </header>
  </div>
  <div>
    <%= link_to("logout #{User.find_by(id: session[:user_id]).first_name}", "/session", method: "delete") unless session[:user_id].nil? %>
  </div>
  <!-- Signup Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Signup For /Heatmapr/</h4>
        </div>
        <div class="modal-body">
          <%= render "form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<%= yield %>
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
  <div id="map-canvas" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>
